<table border="1">
  <tr align="center">
    <% Project::PROJECT_FIELDS.each do |field, data| %>
        <th align="center"><%= data[:title] %></th>
    <% end %>
    <% Project::SETTLEMENT_FIELDS.each do |field, data| %>
        <th align="center"><%= data[:title] %></th>
    <% end %>
  </tr>
 
  <% @projects.each do |project| %>
    <tr>
      <% Project::PROJECT_FIELDS.each do |field, data| %>
        <td align="center"><%= project[field] %></td>
      <% end %>
      <% Project::SETTLEMENT_FIELDS.each do |field, data| %>
        <% if data[:type] == "date" %>
          <td align="center"><%= project.date_string(field) %></td>
        <% else %>
          <td align="center"><%= project.settlement[field] %></td>
        <% end %>
      <% end %>
      <td><%= link_to 'Show', project_path(project) %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project_path(project),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>