<%= form_with(model: @project, method: 'get', local: true) do |form| %>
  <% Project::PROJECT_FIELDS.each do |field, data| %>
    <p>
      <%= form.label field %><br>
      <% if data[:type] == "select" %>
        <select name=<%= field %>>
          <% data[:options].each do |option| %>
            <option value="<%= option %>"><%= option %></option>
          <% end %>
        </select>
      <% else %>
        <%= form.text_field field %>
      <% end %>
    </p>
  <% end %>

  <p>
    <%= form.submit 'Search' %>
  </p>
<% end %>