<%= form_with(model: @project, method: 'get', local: true) do |form| %>
  <p>
    <%= form.label :status %><br>
    <select name="property_status">
      <option value="" selected="selected"></option>
      <option value="Prepare Settlement">Prepare Settlement</option>
      <option value="Title Registered">Title Registered</option>
      <option value="Settled">Settled</option>
    </select>
  </p>

  <p>
    <%= form.label :lot %><br>
    <%= form.text_field :lot %>
  </p>
 
  <p>
    <%= form.label :estate %><br>
    <%= form.text_field :estate %>
  </p>
 
  <p>
    <%= form.label :office %><br>
    <%= form.text_field :office %>
  </p>
 
  <p>
    <%= form.label :client_name %><br>
    <%= form.text_field :client_name %>
  </p>
 
  <p>
    <%= form.label :firb %><br>
    <select name="firb">
      <option value="" selected="selected"></option>
      <option value="Y">Y</option>
      <option value="N">N</option>
    </select>
  </p>
 
  <p>
    <%= form.label :solicitor %><br>
    <%= form.text_field :solicitor %>
  </p>
 
  <p>
    <%= form.label :builder %><br>
    <%= form.text_field :builder %>
  </p>

  <p>
    <%= form.submit 'Search' %>
  </p>
<% end %>