<p>
  <%= link_to 'Back', projects_path %> |
  <%= link_to 'Edit', edit_project_path(@project) %>
</p>

<% Project::PROJECT_FIELDS.each do |field, data| %>
  <p>
    <strong><%= data[:title] %>:</strong>
    <%= @project[field] %>
  </p>
<% end %>

<%= render @project.settlement %>
